.flex-box{
    display: flex;
    align-items: flex-start;
}
.allimages{
    background-color: aqua;
    width: 400px;
    display: flex;
    flex-direction: column;
    

}
.mainimage{
    width: 350px;
}