.flex-box{
    display: flex;
    align-items: flex-start;

}

.nav_container{
    display: flex;
    
}

.nav_container li {
    list-style: none;
    text-decoration:none;
    
}
.nav_container li a{
    text-decoration:none;
    color: slategray;
    
}
